.App {
  text-align: center;
}

.edit-btn {
  background-color: rgb(255, 245, 125);
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(255, 125, 125);
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn {
  background-color: rgb(122, 232, 126);
  border-radius: 5px;
  cursor: pointer;
}

.list {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.allAuthors {
  display: flex;
  justify-self: center;
  width: 50%;
  align-self: center;
}

.even-row {
  justify-content: space-between;
}

.buttons-case {
  padding-right: 10%;
}

.title {
  color: lightgray;
}